<style>
  body {
    font-family: sans-serif;
    margin: 0;
  }
  ul {
    list-style: none;
  }
  li {
    margin: 5px 0;
  }
  a[href] {
    text-decoration: none;
    color: #2BA2D6;
  }
</style>
<div style="padding: 25px 10px; float: left; width: 300px; position: fixed; height: 100%; background-color: #dde2e6">
  <ul>
    <li>
      <strong style="font-size: 1.2em; text-transform: uppercase">
        <a href="#api">Brandfolder API</a>
      </strong>
    </li>
    <% api.resources.each do |resource_name, resource| %>
        <li>
          <a href="#resource/<%= resource_name %>">
            <%= resource_name.titleize %>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div style="padding: 25px 10px; float: left; width: 300px">
  &nbsp;
</div>
<div style="float: left; padding: 20px; ">
  <h1 id="api"><%= api.title %></h1>

  <p><%= api.description %></p>
  <% api.resources.each do |resource_name, resource| %>
      <h2 id="resource/<%= resource_name %>"><%= resource_name.titleize %></h2>

      <p><%= resource.description %></p>

      <h3>Attributes</h3>
      <% resource.attributes.each do |attribute_name, attribute| %>
          <dl>
            <dt>
              <strong><%= attribute_name %></strong>
              <small>
                <%= "(required)" if attribute.required %>
                <%= "(allow: #{attribute.allow.to_sentence})" %>
              </small>
            </dt>
            <dd><%= attribute.description %></dd>
          </dl>
      <% end %>
  <% end %>
</div>